frontend/node_modules
frontend/dist
frontend/.cache
secret.yml
build
coverage.txt
.idea
.vscode
tools-stamp
__debug_bin*
profile.out
tmp/
run.sh
testing/e2e/networks/*/
square/testdata
**/*.html
.release-env
**/*.DS_Store
vendor
go.work
go.work.sum
.envrc
# test artifacts
app/test/bad_block_*
# do not include downloaded embedded binaries
internal/embedding/**
**/*token.sh
# ignore talis files
app.toml
config.toml
config.json
memory-bank/*
.clinerules
tools/talis/talis
.gocache
.cache
.gomodcache
