name: ci-release

# Run this workflow on push events (i.e. PR merge) to main or release branches,
# push events for new semantic version tags, and all PRs.
on:
  push:
    branches:
      - main
      - "v[0-9]+.x"
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
      - "v[0-9]+.[0-9]+.[0-9]+-alpha.[0-9]+"
      - "v[0-9]+.[0-9]+.[0-9]+-beta.[0-9]+"
      - "v[0-9]+.[0-9]+.[0-9]+-rc[0-9]+"
  pull_request:

jobs:
  lint:
    uses: ./.github/workflows/lint.yml

  markdown-linter:
    uses: ./.github/workflows/markdown-linter.yml

  test:
    uses: ./.github/workflows/test.yml

  e2e-tests:
    uses: ./.github/workflows/e2e-tests.yml
    permissions: write-all
    secrets:
      KNUU_KUBECONFIG_FILE: ${{ secrets.KNUU_KUBECONFIG_FILE }}

  check-kubeconfig:
    runs-on: ubuntu-latest
    steps:
      - name: Check kubeconfig
        env:
          KUBECONFIG_FILE: ${{ secrets.KNUU_KUBECONFIG_FILE }}
        run: |
          if [ -z "${KUBECONFIG_FILE}" ]; then
            echo "KUBECONFIG_FILE is empty"
          else
            echo "KUBECONFIG_FILE is not empty"

  goreleaser:
    uses: ./.github/workflows/goreleaser.yml
    permissions: write-all
    secrets:
      GORELEASER_ACCESS_TOKEN: ${{ secrets.GORELEASER_ACCESS_TOKEN }}
