name: goreleaser
on:
  workflow_call:
    secrets:
      GORELEASER_ACCESS_TOKEN:
        required: true

jobs:
  goreleaser-check:
    if: github.event_name == 'release'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.0
        with:
          fetch-depth: 0
      - run: git fetch --force --tags
      - name: Set GORELEASER_CURRENT_TAG in GitHub env
        run: echo "GORELEASER_CURRENT_TAG=${{ github.event.release.tag_name }}" >> $GITHUB_ENV
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 #v6.0.0
        with:
          go-version-file: 'go.mod'
      - name: Create .release-env file
        run: |-
          echo 'GITHUB_TOKEN=${{secrets.GORELEASER_ACCESS_TOKEN}}' >> .release-env
      - name: Check the .goreleaser.yaml config file
        run: make goreleaser-check
        env:
          GORELEASER_CURRENT_TAG: ${{ env.GORELEASER_CURRENT_TAG }}

  goreleaser:
    if: github.event_name == 'release'
    needs: goreleaser-check
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Free disk space
        run: |
          set -euxo pipefail
          sudo rm -rf /usr/share/dotnet /opt/ghc /usr/local/lib/android || true
          docker system prune -af || true
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.0
        with:
          fetch-depth: 0
      - run: git fetch --force --tags
      - name: Set GORELEASER_CURRENT_TAG in GitHub env
        run: echo "GORELEASER_CURRENT_TAG=${{ github.event.release.tag_name }}" >> $GITHUB_ENV
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 #v6.0.0
        with:
          go-version-file: 'go.mod'
      - name: Ephemeral Go caches
        run: |
          echo "GOMODCACHE=$(mktemp -d)" >> $GITHUB_ENV
          echo "GOCACHE=$(mktemp -d)" >> $GITHUB_ENV
          echo "GOTMPDIR=$(mktemp -d)" >> $GITHUB_ENV
      - name: Create .release-env file
        run: |-
          echo 'GITHUB_TOKEN=${{secrets.GORELEASER_ACCESS_TOKEN}}' >> .release-env
      - name: Create prebuilt binaries and attach them to the GitHub release
        run: make prebuilt-binary
        env:
          GORELEASER_CURRENT_TAG: ${{ env.GORELEASER_CURRENT_TAG }}
