name: markdown-linter
on:
  workflow_call:
  workflow_dispatch:

jobs:
  markdown-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 #v4.3.1

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 #v6.2.0
        with:
          node-version: 24

      - name: Install markdownlint-cli
        run: npm install -g markdownlint-cli@0.39.0
        shell: bash

      - name: Run markdownlint
        run: markdownlint --config .markdownlint.yaml '**/*.md'
        shell: bash

  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 #v4.3.1

      - name: Run markdown link check
        uses: gaurav-nelson/github-action-markdown-link-check@1.0.17
        with:
          config-file: '.github/markdown-link-check-config.json'
          folder-path: '.'
