name: markdown-linter
on:
  workflow_call:

jobs:
  markdown-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0

      - name: Setup Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 #v4.4.0
        with:
          node-version: 24

      - name: Install markdownlint-cli
        run: npm install -g markdownlint-cli@0.39.0
        shell: bash

      - name: Run markdownlint
        run: markdownlint --config .markdownlint.yaml **/*.md
        shell: bash

  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0

      - name: Run markdown link check
        uses: gaurav-nelson/github-action-markdown-link-check@1.0.17
        with:
          config-file: '.github/markdown-link-check-config.json'
          folder-path: '.'
