---
name: Spelling

permissions:
  contents: read

on:
  workflow_call:

env:
  CLICOLOR: 1

jobs:
  spelling:
    name: Spell Check with Typos
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Actions Repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
      - name: Spell Check Repo
        uses: crate-ci/typos@v1.34.0
