# TODO: Refactor to common workflow
name: stale
on:
  schedule:
    - cron: "0 0 * * *"

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@b5d41d4e1d5dceea10e7104786b73624c18a190f #v10.2.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          stale-pr-message: >
            This pull request has been automatically marked as stale because it
            has not had recent activity. It will be closed if no further
            activity occurs. Thank you for your contributions.
          days-before-stale: 45
          days-before-close: 6
          exempt-pr-labels: "pinned, security, proposal, blocked"
