name: stress-test

on:
  workflow_dispatch:
  pull_request:

jobs:
  stress-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.0

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 #v6.0.0
        with:
          go-version-file: "go.mod"

      - name: Generate image tag
        id: tag
        run: echo "value=$(echo $GITHUB_SHA | cut -c1-8)" >> $GITHUB_OUTPUT

      - name: Build celestia-app Docker image
        run: docker build -t "ghcr.io/celestiaorg/celestia-app:${{ steps.tag.outputs.value }}" . -f docker/multiplexer.Dockerfile

      - name: Build latency-monitor Docker image
        run: docker build -t "ghcr.io/celestiaorg/latency-monitor:${{ steps.tag.outputs.value }}" -f docker/latency-monitor/Dockerfile .

      - name: Run stress test
        env:
          CELESTIA_IMAGE: ghcr.io/celestiaorg/celestia-app
          CELESTIA_TAG: ${{ steps.tag.outputs.value }}
        run: make test-docker-e2e test=TestStress8MBBlobs
