name: test-e2e

on:
  push:
    # branches:
      # - main
    # paths:
    #   - "**.go"
    #   - go.mod
    #   - go.sum

jobs:
  test-e2e:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        # with:
          # fetch-depth: 0
          # ref: main
      - uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
      - name: Setup kubeconfig
        env:
          KUBECONFIG_FILE: ${{ secrets.KNUU_KUBECONFIG_FILE }}
        run: |
          mkdir -p $HOME/.kube
          echo "${KUBECONFIG_FILE}" > $HOME/.kube/config
      - name: Run e2e tests
        run: make test-e2e
      - name: Publish to slack channel via bot token
        if: failure() # This step will only run if the previous steps fail
        id: slack
        uses: slackapi/slack-github-action@v1.26.0
        with:
          channel-id: 'D077TLSD4J0' # ID of Slack Channel you want to post to
          slack-message: 'E2E tests failed!' # The message you want to post
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_GITHUB_NOTIFICATIONS_BOT_TOKEN }}