name: test
on:
  workflow_call:

jobs:
  test-short:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.0

      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 #v6.0.0
        with:
          go-version-file: "go.mod"

      - name: Run tests in short mode
        run: make test-short
        timeout-minutes: 10

  go-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          # sentinel value to run all other tests.
          - package: "unit"
          # split the heaviest ones
          - package: "github.com/celestiaorg/celestia-app/v8/app/test"
            pattern: "TestIntegration.*"
          - package: "github.com/celestiaorg/celestia-app/v8/app/test"
            pattern: "TestBigBlob.*|TestStandardSDK.*"
          - package: "github.com/celestiaorg/celestia-app/v8/app/test"
            pattern: "TestSquareSize.*|TestPriority.*"
          - package: "github.com/celestiaorg/celestia-app/v8/test/txsim"
          - package: "github.com/celestiaorg/celestia-app/v8/pkg/user"
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.0

      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 #v6.0.0
        with:
          go-version-file: "go.mod"

      - name: Run tests
        run: |
          if [ "${{ matrix.package }}" = "unit" ]; then
            # run all packages except the heavy ones
            make test PACKAGES="$(go list ./... | grep -v 'app/test$' | grep -v 'test/txsim$' | grep -v 'pkg/user$' | tr '\n' ' ')"
          elif [ -n "${{ matrix.pattern }}" ]; then
            # run specific test patterns
            go test -timeout 30m -run "${{ matrix.pattern }}" ${{ matrix.package }}
          else
            # run specific package
            make test PACKAGES="${{ matrix.package }}"
          fi

  test:
    runs-on: ubuntu-latest
    needs: go-test
    if: always()
    steps:
      - name: Check test results
        run: |
          if [ "${{ needs.go-test.result }}" != "success" ]; then
            echo "One or more test jobs failed"
            exit 1
          fi
          echo "All tests passed"

  test-coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.0

      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 #v6.0.0
        with:
          go-version-file: "go.mod"

      - name: Generate coverage.txt
        run: make test-coverage

      - name: Upload coverage.txt
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 #v5.5.1
        with:
          files: ./coverage.txt

  test-race:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.0

      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 #v6.0.0
        with:
          go-version-file: "go.mod"

      - name: Run tests in race mode
        run: make test-race

  test-fuzz:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.0

      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 #v6.0.0
        with:
          go-version-file: "go.mod"

      - name: Run fuzz tests
        run: make test-fuzz

  test-multiplexer:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.0

      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 #v6.0.0
        with:
          go-version-file: "go.mod"

      - name: Run multiplexer tests
        run: make test-multiplexer

  build-e2e-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.0

      - name: Generate image tag
        id: tag
        run: echo "value=$(echo $GITHUB_SHA | cut -c1-8)" >> $GITHUB_OUTPUT

      - name: Build Docker image
        run: docker build -t "ghcr.io/celestiaorg/celestia-app:${{ steps.tag.outputs.value }}" . -f docker/multiplexer.Dockerfile

      - name: Save Docker image as artifact
        run: docker save "ghcr.io/celestiaorg/celestia-app:${{ steps.tag.outputs.value }}" | gzip > /tmp/e2e-image.tar.gz

      - name: Upload Docker image artifact
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f #v7.0.0
        with:
          name: e2e-image
          path: /tmp/e2e-image.tar.gz
          retention-days: 1

    outputs:
      tag: ${{ steps.tag.outputs.value }}

  test-docker-e2e:
    needs: build-e2e-image
    runs-on: ubuntu-latest
    # if one test fails, continue running the rest.
    continue-on-error: true
    strategy:
      matrix:
        include:
          - testcase: TestE2ESimple
          - testcase: TestStateSync
          - testcase: TestBlockSync
          - testcase: TestE2EFullStackPFB
          - testcase: TestIBC
            entrypoint: TestIBCTestSuite
          - testcase: TestICA
            entrypoint: TestIBCTestSuite
          - testcase: TestStateSyncWithAppUpgrade
          - testcase: TestMinorVersionCompatibility
          - testcase: TestUpgradeLatest
          - testcase: TestPFMMultiHop
            entrypoint: TestPFMTestSuite
          - testcase: TestHyperlaneTokenTransfer
            entrypoint: TestHyperlaneTestSuite
          - testcase: TestHyperlaneForwarding
            entrypoint: TestHyperlaneTestSuite
          - testcase: TestHyperlaneZKIsmStateTransition
            entrypoint: TestHyperlaneTestSuite
          - testcase: TestHyperlaneZKIsmStateMembership
            entrypoint: TestHyperlaneTestSuite

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - name: Download Docker image artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 #v7.0.0
        with:
          name: e2e-image
          path: /tmp

      - name: Load Docker image
        run: docker load < /tmp/e2e-image.tar.gz

      - name: Run E2E test
        env:
          CELESTIA_IMAGE: ghcr.io/celestiaorg/celestia-app
          CELESTIA_TAG: ${{ needs.build-e2e-image.outputs.tag }}
        run: |
          if [ -n "${{ matrix.entrypoint }}" ]; then
            make test-docker-e2e test=${{ matrix.testcase }} entrypoint=${{ matrix.entrypoint }}
          else
            make test-docker-e2e test=${{ matrix.testcase }}
          fi
